@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;700&display=swap');
@import 'tailwindcss';

@theme {
  --font-outfit: 'Outfit', sans-serif;

  --breakpoint-sm: 640px;
  --breakpoint-md: 910px;
  --breakpoint-lg: 1111px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}
